body{
    font-family: sans-serif;
    background-color: lightgray;
}

a:link, a:visited{
    text-decoration: none;
    color: seagreen;
}

#twimage{
    width: 250px;
}

#twitch{
    color: #6441a5
}

h1{
    color: blue;
    text-align: center;
}

footer{
    color: white;
    background-color: brown;
}